{% extends '__base.html' %}
{% block 'content' %}


{{ username }}
<h4>these are the artists your dumb ass likes...</h4>

{% for opinion in true_list %}
  <br>
  <a href="{{ opinion.artist.url }}">{{ opinion.artist.name }}</a>
  <br><a href="{{ opinion.artist.url }}"><img src= "{{ opinion.artist.avatar_url }}"></a>
  <br>
  <br>
{% endfor %}


<h4>these are the artists your dumb ass does not like...</h4>

  {% for opinion in false_list %}
  <br>
  <a href="{{ opinion.artist.url }}">{{ opinion.artist.name }}</a>
  <br><a href="{{ opinion.artist.url }}"><img src= "{{ opinion.artist.avatar_url }}"></a>
  <br>
  <br>
  {% endfor %}
{% endblock %}
