{% extends '__base.html' %}
{% block 'content' %}
<meta charset="utf-8">

<div style="padding:20px">
<head>
<h1>Artists</h1>


</head>

<body>
  <iframe src="https://w.soundcloud.com/player/?url={{ song_url }}&auto_play=false"></iframe>
{% if artist %}
      <br>
      <a href="{{ artist.url }}">{{ artist.name }}</a>
      <br>
      <a href="{{ artist.url }}"><img src= "{{ artist.avatar_url }}"></a>
{% else %}
    <p>No Artists Available</p>
{% endif %}



<form method='POST' action=''>{% csrf_token %}
<input type='hidden' value='1' name='opinion' />
<input type='hidden' value='{{ artist.id }}' name='artist' />
<input type='submit' value='Like' />
</form>

<form method='POST' action=''>{% csrf_token %}
<input type='hidden' value='false' name='opinion' />
<input type='hidden' value='{{ artist.id }}' name='artist' />
<input type='submit' value='Dislike' />
</form>

</div>
</body>

{% endblock %}
