h1 a {
  color: #FCA205;
}
form, form div {
  display: inline;
}

.artist_buttons {
  display: inline;
  text-align: center;
}

h2, h3, h4, h5 {
  text-transform: uppercase;
  text-align: center;
  display: inline;
}

h6 {
  font-size: 15px;
  text-align: center;
  display: inline;
}
footer {
  position: fixed;
  bottom: 0;
  float: right;
}
p.text-muted {
  text-align: left;
}
#success {
  text-align: center;
}
div.well {
  text-align: center;
}
#delete_notice {
  display: none;
  text-align: center;
}

.user_row {
  position: relative;
}

.hover-btn {
  position: absolute;
  top: 0px;
  right: 15px;
  display: none;
  border: 0px solid transparent;
}

.col-lg-3:hover .hover-btn {
  display: block;
}

#artist_explore {
  -webkit-animation-duration: 0.5s;
}

body {
  font-family: 'Lato', sans-serif;
}

.inline {
  width: 30em;
  margin: 0 auto;
  left: 400px;
  text-align: justify;
}

strong {
  color: #a6a6a6;
}
