{% extends '__base.html' %} {% block 'content' %}
<div class="container-fluid">
  {% if messages %}
  <div class="row">
    <div class="col-xs-12">
      <div class="well">
        <div class="messages">
          {% for message in messages %}
          <h6>{{ message }}</h6> {% endfor %} {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="well">
          <h6><strong style="color:#FCA205;">newmusic</strong> gives you a chance to hear artists that are not yet discovered on Soundcloud.
          <br>Every artist displayed here has a low followers count, but that doesn't mean they aren't worth listening to.
          <br>Decide for yourself!
          <br>Find the next big thing with the help of <strong style="color:#FCA205;">newmusic</strong>.
          <br>
          <br>Click <a href="{% url 'explore' %}">here</a> to start exploring.</h6>
        </div>
      </div>
    </div>
    {% endblock %}


  </div>
</div>
